<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <!--it does not work in .net core-->
    <!--<system.diagnostics>
        <trace autoflush="true"  indentsize="4">
            <listeners>
                <clear/>
                <add
                    name="myListener"
                    type="System.Diagnostics.TextWriterTraceListener"
                    initializeData="log4net.txt" />
            </listeners>
        </trace>
    </system.diagnostics>-->

</configuration>